<h2><a href="/songs">All Songs</a></h2>
<div class="song">
  <p>
    Song Title: <%= @song.title %>
  </p>
  <p>
    Song Album: <%= @song.album %>
  </p>
  <p>
    Artist:  <%= @artist.name %>
  </p>
  <p>
    <img src="<%= @artist.photo_url %>" alt="picture" style="width: 30vw; position:fixed; float:left; top: 50vh;">
  </p>
  <p>
    <embed src="<%= @song.preview_url %>" width="325" height="230" allowfullscreen="true" style="position:fixed; left:40vw; top:50vh;"/>
  </p>
</div>
